@font-face {
    font-family: 'Craft';
    src: url("../../fonts/Craft.eot");
    src: url("../../fonts/Craft.eot?#iefix") format("embedded-opentype"), url("../../fonts/Craft.woff") format("woff"), url("../../fonts/Craft.ttf") format("truetype"), url("../../fonts/Craft.svg#Craft") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Datepicker */
.ui-datepicker {
    position: fixed;
    top: -300px;
    padding: 10px;
    width: 210px;
    height: 210px;

    z-index: 100;
    margin-bottom: 10px;
    border-radius: 3px;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 25px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 25px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 25px -5px rgba(0, 0, 0, 0.25);
}

body.ltr .ui-datepicker {
    margin-left: 1px;
}

body.rtl .ui-datepicker {
    margin-right: 1px;
}

.ui-datepicker-header {
    padding: 8px 8px 4px;
}

body.ltr .ui-datepicker-prev {
    float: left;
}

body.rtl .ui-datepicker-prev {
    float: right;
}

body.ltr .ui-datepicker-next {
    float: right;
}

body.rtl .ui-datepicker-next {
    float: left;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker-calendar td {
    padding: 2px;
}

.ui-datepicker-calendar td a {
    display: block;
    border-radius: 2px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #808080;
}

.ui-datepicker-calendar td a:hover {
    background: #d5d8dd;
    text-decoration: none;
}

.ui-datepicker-calendar td a.ui-state-active {
    background: #737f8c;
    color: #fff;
    cursor: default;
}

.ui-datepicker-calendar td.ui-datepicker-today a {
    border-radius: 13px;
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
}

/* Datewrapper */
.datewrapper {
    display: inline-block;
    position: relative;
    width: 8em;
}

.datewrapper:before {
    font-family: 'Craft';
    text-rendering: optimizeLegibility;
    position: absolute;
    color: #b9bfc6;
    top: 8px;
    content: 'date';
}

.datewrapper .text {
    width: 100%;
}

body.ltr .datewrapper .text {
    padding-left: 22px;
}

body.rtl .datewrapper .text {
    padding-right: 22px;
}

body.ltr .datewrapper:before {
    left: 7px;
}

body.rtl .datewrapper:before {
    right: 7px;
}
