{% if availableAttributes|length %}
    <div class="amforms__container hidden">
        <div class="pane lightpane meta amforms__panel">
            <div class="data">
                <h2>{{ 'Available attributes'|t }}</h2>
            </div>
            <div class="amforms__attributes">
                {% set foundTab = false %}
                {% for attribute in availableAttributes -%}
                    <span class="btn" data-attribute="{{ attribute }}">{{ attribute }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    {% includeJsResource 'amforms/js/FormAttributes.js' %}
    {% includeCssResource 'amforms/css/FormAttributes.css' %}
    {% includejs %}
        new Craft.FormAttributes();
    {% endincludejs %}
{% endif %}
