{% extends (elementType is defined ? '_layouts/elementindex' : '_layouts/cp') %}

{% set title = craft.amForms.name %}

{% set tabs = {
    submissions: {
        label: 'Submissions'|t,
        url: url('amforms/submissions')
    },
    forms: {
        label: 'Forms'|t,
        url: url('amforms/forms')
    },
    fields: {
        label: 'Fields'|t,
        url: url('amforms/fields')
    },
    exports: {
        label: 'Exports'|t,
        url: url('amforms/exports')
    }
} %}

{% set activeCrumb = attribute(tabs, selectedTab) %}
{% set crumbs = [
    { label: title, url: url('amforms') },
    { label: activeCrumb.label, url: activeCrumb.url }
] %}

{% if currentUser.can('editAmFormsSettings') %}
    {% set extraPageHeaderHtml %}
      <a class="btn settings icon" href="{{ url('amforms/settings') }}" title="{{ 'Settings'|t }}"></a>
    {% endset %}
{% endif %}