{% extends 'amforms/_layouts/cp' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.amForms.name, url: url('amforms') },
    { label: 'Settings'|t, url: url('amforms/settings') },
    { label: title, url: '#' }
] %}

{% set navItems = {
    'general': { title: "General"|t },
    'submissions': { title: "Submissions"|t },
    'export': { title: "Exports"|t },
    'antispam': { title: "AntiSpam"|t },
    'recaptcha': { title: "reCAPTCHA"|t },
    'templates': { title: "Templates"|t }
} %}
{% set selectedItem = craft.request.getSegment(3) %}
{% set title = navItems[selectedItem].title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('amforms/settings/' ~ id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <input type="hidden" name="settingsType" value="{{ type }}">
    <input type="hidden" name="action" value="amForms/settings/saveSettings">

    {% block fields %}{% endblock %}
{% endblock %}
